<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="false" />

    <application>
        <provider
            android:name=".playback.lyrics.CarLyricsArtworkProvider"
            android:authorities="${applicationId}.carlyricsartwork"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />

        <meta-data
            android:name="com.android.automotive"
            android:resource="@xml/automotive_app_desc" />

        <service android:name=".playback.PlaybackService">
            <meta-data
                android:name="androidx.car.app.launchable"
                android:value="true" />
        </service>
    </application>
</manifest>
